/* uni shared style here*/
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Azeret Mono", serif;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  background-color: #fff;
}

.sec-btn {
  color: #0d1321;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
}

.sec-title {
  color: #0d1321;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.sec-desc {
  color: #0d1321;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

main > section {
  width: 1140px;
  margin: 0 auto;
  margin-top: 75px;
  /* border: 1px solid red; */
}

/* navbar style here*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 150px;
}

.nav-logo {
  color: #0d1321;
  font-size: 1.75rem;
  font-weight: 800;
}

.nav-btn {
  border: 1px solid #0d1321;
  padding: 17px 24px;
  opacity: 0.8;
}

/* header style here */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img {
  margin: 25px 0 32px;
}

.header-title {
  font-size: 3rem;
  line-height: 68px;
  width: 998px;
}

.header-description {
  width: 852px;
  margin: 24px 0 32px;
}

.header-btn {
  color: #ffffff;
  background-color: #0d1321;
  padding: 21px 24px;
  margin-bottom: 45px;
}

/* why web development style */
.dev-container {
  padding: 80px 97px;
  border-radius: 16px;
  background-color: #0d132105;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-content {
  width: 852px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
  /* border: 1px solid red; */
}

.dev-card-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* border: 1px solid red; */
}

.dev-card {
  width: 946px;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.dev-card-title {
  width: 390px;
  color: #0d1321b3;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.dev-card-description {
  width: 468px;
  text-align: left;
  margin: 16px 0 32px;
}

.dev-card-btn {
  padding: 12px 20px;
  border-radius: 0;
  border: 1px solid #0d1321;
  opacity: 0.7;
}

#dev-card-two {
  flex-direction: row-reverse;
  background: linear-gradient(-90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

/* inspiration style */
.inspiration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspiration-title {
  width: 852px;
}

.inspiration-description {
  width: 852px;
  margin: 24px 0 48px;
}

.inspiration-video {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #0d132133;
}

iframe {
  border-radius: 16px;
}
